.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.login {
    width: 300px;
    height: 100%;
    padding: 10px 20px;
    margin: 10px;
}


.otherLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.otherLoginSpanCenter{
    height: 32px;
    display: flex;
    align-items: center; /* 在交叉轴上垂直居中 */
    cursor: pointer;
}
